
body
{
    font-family: 'Open Sans', sans-serif;
}
.head-section
{
    
    background-image:linear-gradient(to bottom,rgba(0,0,0,0.5), rgba(0,0,0,0)),url('../images/Banner.png');
    height: 600px;
    width: 1320px;
    margin: 50px 150px 0px 90px;
    position: relative;
    background-repeat: no-repeat;
    border-radius: 16px;
    
}
.head-section
{
    text-align: center;
}
.header-title
{  
    
   width: 100%;
   height: 100%;
   color: white;
   display: flex;
   justify-content: center;
   flex-direction:column ;
   align-items: center;
   

}

.first-title
{
    color: white;
    font-size: 32px;
    font-weight: 400;
    margin: 0px 0px;  
  
}
.second-title
{
    color: white;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin: 0px 344px 0px 344px;
    
}
.off   
{
    color: #FF0000;
    font-size: 88px; 
   
    text-align: center;

}
.off-second
{
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-top: 48px;
}
.off-thierd
{
    color: #070211;
    font-size: 48px;
    text-align: center;
    
}
.image-center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}
.second-img
{ 
    height: 600px;
    width: 1320px;
    
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.5), rgba(0,0,0,0)),url('../images/Vectorrr.png');
   margin: 50px 150px 0px 90px;
    display: flex;
   
    
 }

   


.title
{ 
    text-align:left ;
    float: left;
    margin-left: 100px;
   
    
   
}
.title-header
{
    color: white;
    font-size: 64px;
   
    font-weight: 900;
    letter-spacing: 7.04px;
    

   
}
.title-description
{
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    
  
}
.btn-primary
{   
    color: white;
    background-color: transparent;
    font-size: 20px;
    
    text-transform: uppercase;
   
    
}

.main-section
{
    width: 1320px; 
    height: 420px; 
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0) 100%); 
    border-radius: 16px;
   
    text-align: center;
    margin: 50px 180px 0px 100px;
}
.place-title
{
    color: #FF0000;
}
.date-title
{
    color: #FF0000;
}
.time-title
{
    color: #FF0000;
}
.main-second-section
{
    
    width: 100%;
    height: 100%;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction:column ;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 56px;
}
.second-btn
   
{
   
    background-color:red;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.second-main
{
    margin-left: 100px;
    margin-right: 160px;
}

.main-main
{
    display: flex;
}
#center
{
    align: center;
    margin-left: auto;
    margin-right: auto;
  
    
}
.fourth-main
{
    
    width: 50%; 
    height: 500%; 
    border-radius: 250px; 
    border: 10px #FF0000 solid;
    padding: 20px 20px;
    display: inline-block;
    align-items: center;
    
}
.new
{
   color: #FF0000; 
}
.headline
{
    margin-left: 20px;
    color: #FF0000;
}
.description
{
    margin-left: 20px;
    margin-right: 60px;
}
.new-headline
{
    text-align: center;
    margin-top: 10%;
   
}
.holiday
{
    color: #FF0000;
}
.new-descript
{
    margin-left: 20%;
    margin-right: 20%;
}
.fifth-img
{
    width: 100%; 
    height: 100%; 
    border-top-left-radius: 16px; 
    border-top-right-radius: 16px;
    margin-left: 61.45vw;

}
.red{
    display: block;
    margin-left: 8vw;
    margin-right: 30vw;
    margin-top: -0.1vw;
   
    position: absolute;

}
.percent
{    
    margin-top: -20vw;
    margin-right: 60vw;
    margin-left: -11vw;
}
.box
{
    margin-top: -20vw;
    position: sticky;
}
.another-title
{
    color: #FF0000;
}
.another
{
    margin-left: 100px;
    margin-right: 160px;
}
.best-description
{
    margin-right: 50%;
}
.many
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.many img{
    width: 400px;
    height: 300px;
    border: 2px solid #ff3d;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
    
   
}
.many img:hover
{
    filter: grayscale(1);
    transform: scale(1.03);
}

